<!doctype html>
<html lang="es" ng-app="ShoppingListApp">
    <head>
        <title>ng-repeat</title>
        <meta charset="utf-8">
        <script src="../../angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        <h1>ng-repeat</h1>
        
        <div ng-controller="ShoppingListController">
            <!--
            <h3>Shopping List:</h3>
            <ul>
                <li ng-repeat="item in shoppingList1">{{ item }}</li>
            </ul>
            
            <ul>
                <li ng-repeat="item in shoppingList2">Buy {{item.quantity}} of {{item.name}}</li>
            </ul>
            -->
            <input type="text" ng-model="shoppingList2[0].quantity">
            <ul>
                <li ng-repeat="item in shoppingList2">{{$index+1}}. Buy {{item.quantity}} of {{item.name}}</li>
            </ul>
            <input type="text" ng-model="newItemName" placeholder="item name">
            <input type="text" ng-model="newItemQuantity" placeholder="item quantity">
            <input type="button" ng-click="addToList()" value="Add to list">
        </div>
    </body>
</html>